h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.grid {
	background-color: #efefef;
	width: 100%;
	min-height: 750px;
}

.grid-item {
	background-color: #ffffff;
	-webkit-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	-moz-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	-o-transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	transition: width 0.25s, height 0.25s, left 0.25s, top 0.25s, right 0.25s, bottom 0.25s;
	border: solid 1px;
}

.grid-item:active, .grid-item.moving {
	z-index: 2;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.grid-placeholder {
	background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
	.grid {
		width: 100% !important;
		height: auto !important;
		padding: 10px;
	}
	.grid-item {
		position: static !important;
		width: 100% !important;
		margin-bottom: 10px;
	}
	.grid-item:last-child {
		margin-bottom: 0;
	}
}

.ag-header{
    background-color: lightcyan !important;
}
.ag-header-cell{
    text-align: left;
    font-weight: bold;
    
}

#btnCreateNew,#searchTxt,.glyphicon-search{
    float: right;
}
#btnCreateNew {
margin-top:5px;
}

.glyphicon-search{
     float: right;
     padding-top: 4px;
     padding-bottom: 3px;
     border-bottom: solid lightgray 1px;
     color: lightgray;
}

.gridStyle{
    width:100%;
    height:500px;
    border: 1px solid cyan;
}

.header1{
    font-family: monospace;
    font-size: 32px;
    color: gray;
    font-weight: bold;
    
}

.btn{
    border-radius: 0px;
}

body{
    background-color:#f5f0f0;
}
#btnInbox,#btnSubmitBy,#searchTxt{
    border: none;
}

.pager{
    display: inline-block;
    margin: 0px;
}

.gridContainer{
    background-color: #fff;
    padding: 10px;
}
.gridHead{
    padding-bottom: 10px;
}

#searchTxt{
    border-bottom: solid lightgray 1px;
       
}

.badge{
    background-color: #337ab7;
    font-size: 9px;
}

hr {
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid lightgray;
}